h1 {
    color: black;
}

body {
    background-color:#e7d9ea;
}

p {
    color: black;
} 
hr {
	border-style: none; 
	border-top-style: dotted; 
	border-color: grey; 
	border-width: 7px; 
	width: 10%; 
}